<template>
  <div>
    <b-card
     
    >
      <div
        class="d-flex justify-content-start align-items-center mb-1"
      >

 <b-card>

    <!-- about -->
    <div
      class='mt-2'
    >
      <h5 class="text-capitalize mb-75">
      Nombre:
      </h5>
      <b-card-text>
        {{userData.userName}}
      </b-card-text>
    </div>
    <div
      class='mt-2'
    >
      <h5 class="text-capitalize mb-75">
      Correo:
      </h5>
      <b-card-text>
        {{userData.email}}
      </b-card-text>
    </div>
     <div
      class='mt-2'
    >
      <h5 class="text-capitalize mb-75">
      Rol:
      </h5>
      <b-card-text>
        {{userData.role}}
      </b-card-text>
    </div>
  </b-card>
      </div>
    </b-card>
  </div>
</template>

<script>
import {
 BAlert, BAvatar, BCard, BCardText, BImg, BLink, BRow, BCol, BAvatarGroup, VBTooltip, BFormTextarea, BButton, BFormGroup, BEmbed,
} from 'bootstrap-vue'
import Ripple from 'vue-ripple-directive'
import { kFormatter } from '@core/utils/filter'

export default {
  components: {
    BAvatar,
    BCard,
    BCardText,
    BButton,
    BFormTextarea,
    BImg,
    BFormGroup,
    BRow,
    BLink,
    BCol,
    BAvatarGroup,
    BEmbed,
    BAlert
  },
  data(){
    return {
    userData: JSON.parse(localStorage.getItem('userData')),
    }
  },
  directives: {
    'b-tooltip': VBTooltip,
    Ripple,
  },
  props: {
    posts: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    kFormatter,
  },
}
</script>
