<template>
  <div class="auth-wrapper auth-v2">
    <b-row class="auth-inner m-0">
      <!-- Brand logo-->

      <!-- /Brand logo-->
      <b-link class="brand-logo">
        <b-img fluid :src="imageLogo" alt="logo" style="max-width:120px" />
      </b-link>
      <!-- Left Text-->
      <b-col lg="8" class="d-none d-lg-flex align-items-center p-5">
        <div
          class="w-100 d-lg-flex align-items-center justify-content-center px-5"
        >
          <b-img fluid :src="imgUrl" alt="Login V2" />
        </div>
      </b-col>
      <!-- /Left Text-->

      <!-- Register-->
      <b-col lg="4" class="d-flex align-items-center auth-bg px-2 p-lg-5">
        <b-col sm="8" md="6" lg="12" class="px-xl-2 mx-auto">
          <b-card-title class="mb-1">
            Registrate
            <b-img fluid :src="imageLogo" alt="logo" style="max-width:100px" />
            🚀
          </b-card-title>
          <b-card-text class="mb-2">
            Formulario de registro
          </b-card-text>

          <!-- form -->
          <b-overlay :show="show" rounded="sm">
            <validation-observer ref="registerForm" #default="{ invalid }">
              <b-form
                class="auth-register-form mt-2"
                @submit.prevent="register"
              >
                <!-- username -->
                <b-form-group
                  label="Nombre de usuario"
                  label-for="register-username"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="Username"
                    vid="username"
                    rules="required"
                  >
                    <b-form-input
                      id="register-username"
                      v-model="username"
                      name="register-username"
                      :state="errors.length > 0 ? false : null"
                      placeholder="Escribe tu usuario"
                    />
                    <small class="text-danger">{{ errors[0] }}</small>
                  </validation-provider>
                </b-form-group>

                <!-- email -->
                <b-form-group
                  label="correo electronico"
                  label-for="register-email"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="Email"
                    vid="email"
                    rules="required|email"
                  >
                    <b-form-input
                      id="register-email"
                      v-model="userEmail"
                      name="register-email"
                      :state="errors.length > 0 ? false : null"
                      placeholder="Escribe tu correo electronico"
                    />
                    <small class="text-danger">{{ errors[0] }}</small>
                  </validation-provider>
                </b-form-group>

                <!-- password -->
                <b-form-group label-for="register-password" label="Contraseña">
                  <validation-provider
                    #default="{ errors }"
                    name="Password"
                    vid="password"
                    rules="required"
                  >
                    <b-input-group
                      class="input-group-merge"
                      :class="errors.length > 0 ? 'is-invalid' : null"
                    >
                      <b-form-input
                        id="register-password"
                        v-model="password"
                        class="form-control-merge"
                        :type="passwordFieldType"
                        :state="errors.length > 0 ? false : null"
                        name="register-password"
                        placeholder="············"
                      />
                      <b-input-group-append is-text>
                        <feather-icon
                          :icon="passwordToggleIcon"
                          class="cursor-pointer"
                          @click="togglePasswordVisibility"
                        />
                      </b-input-group-append>
                    </b-input-group>
                    <small class="text-danger">{{ errors[0] }}</small>
                  </validation-provider>
                </b-form-group>

                <b-form-group
                  label-for="password_confirmation"
                  label="Confirmar contraseña"
                >
                  <validation-provider
                    #default="{ errors }"
                    name="Confirmar contraseña"
                    vid="password_confirmation"
                    rules="required|confirmed:password"
                  >
                    <b-input-group
                      class="input-group-merge"
                      :class="errors.length > 0 ? 'is-invalid' : null"
                    >
                      <b-form-input
                        id="password_confirmation"
                        v-model="password_confirmation"
                        class="form-control-merge"
                        :type="passwordFieldType"
                        :state="errors.length > 0 ? false : null"
                        name="password_confirmation"
                        placeholder="············"
                      />
                      <b-input-group-append is-text>
                        <feather-icon
                          :icon="passwordToggleIcon"
                          class="cursor-pointer"
                          @click="togglePasswordVisibility"
                        />
                      </b-input-group-append>
                    </b-input-group>
                    <small class="text-danger">{{ errors[0] }}</small>
                  </validation-provider>
                </b-form-group>

                <b-form-group>
                  <b-form-checkbox
                    id="register-privacy-policy"
                    v-model="aceptar_condiciones"
                    name="checkbox-1"
                  >
                    Acepto las condiciones y las política de privacidad
                    <b-link>ir</b-link>
                  </b-form-checkbox>
                </b-form-group>

                <b-button
                  variant="primary"
                  block
                  type="submit"
                  :disabled="invalid"
                >
                  Registrate
                </b-button>
              </b-form>
            </validation-observer>
          </b-overlay>
          <p class="text-center mt-2">
            <span>Ya tienes una cuenta?</span>
            <b-link :to="{ name: 'auth-login' }">
              <span>Iniciar sesion al instante</span>
            </b-link>
          </p>

          <!-- divider -->
          <div class="divider my-2">
            <div class="divider-text">or</div>
          </div>

          <div class="auth-footer-btn d-flex justify-content-center">
            <b-button variant="facebook" href="javascript:void(0)">
              <feather-icon icon="FacebookIcon" />
            </b-button>
            <b-button variant="twitter" href="javascript:void(0)">
              <feather-icon icon="TwitterIcon" />
            </b-button>
            <b-button variant="google" href="javascript:void(0)">
              <feather-icon icon="MailIcon" />
            </b-button>
            <b-button variant="github" href="javascript:void(0)">
              <feather-icon icon="GithubIcon" />
            </b-button>
          </div>
        </b-col>
      </b-col>
      <!-- /Register-->
    </b-row>
  </div>
</template>

<script>
/* eslint-disable global-require */
import { ValidationProvider, ValidationObserver } from "vee-validate";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";

import VuexyLogo from "@core/layouts/components/Logo.vue";
import {
  BRow,
  BCol,
  BLink,
  BButton,
  BForm,
  BFormCheckbox,
  BFormGroup,
  BFormInput,
  BInputGroup,
  BInputGroupAppend,
  BImg,
  BCardTitle,
  BCardText,
  BOverlay,
} from "bootstrap-vue";
import { required, email } from "@validations";
import { togglePasswordVisibility } from "@core/mixins/ui/forms";
import store from "@/store/index";
import useJwt from "@/auth/jwt/useJwt";

export default {
  components: {
    VuexyLogo,
    BRow,
    BImg,
    BCol,
    BLink,
    BButton,
    BForm,
    BCardText,
    BCardTitle,
    BFormCheckbox,
    BFormGroup,
    BFormInput,
    BInputGroup,
    BInputGroupAppend,
    // validations
    ValidationProvider,
    ValidationObserver,
    BOverlay,
  },
  mixins: [togglePasswordVisibility],
  data() {
    return {
      aceptar_condiciones: false,
      show: false,
      status: "",
      username: "",
      userEmail: "",
      password: "",
      password_confirmation: "",
      sideImg: require("@/assets/images/pages/register-v2.svg"),
      imageLogo: require("@/assets/images/logo/logo_addy.png"),

      // validation
      required,
      email,
    };
  },
  computed: {
    passwordToggleIcon() {
      return this.passwordFieldType === "password" ? "EyeIcon" : "EyeOffIcon";
    },
    imgUrl() {
      if (store.state.appConfig.layout.skin === "dark") {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.sideImg = require("@/assets/images/pages/register-v2-dark.svg");
        return this.sideImg;
      }
      return this.sideImg;
    },
  },
  methods: {
    register() {
      this.$refs.registerForm.validate().then((success) => {
        if (success) {
          if (this.aceptar_condiciones != false) {
            this.show = true;
            this.$http
              .post("/api/signup", {
                username: this.username,
                email: this.userEmail,
                password: this.password,
                password_confirmation: this.password_confirmation,
              })
              .then((response) => {
                const { userData } = response.data;
                useJwt.setToken(response.data.access_token);
                useJwt.setRefreshToken(response.data.access_token);
                localStorage.setItem("userData", JSON.stringify(userData[0]));
                this.$store.commit("userData/UPDATE_USER_DATA", userData[0]);
                this.$ability.update(userData[0].ability);
                this.$router.push({ name: "perfil-editar" });

                this.$toast({
                  component: ToastificationContent,
                  position: "top-center",
                  props: {
                    title: `Hola ${userData[0].fullName} bienvenid@ a addy por favor actualiza tu perfil para que tengas las herramientas.`,
                    icon: "CoffeeIcon",
                    variant: "success",
                    text: ``,
                  },
                });
              })
              .catch((error) => {
                console.log("hola");
                this.$toast({
                  component: ToastificationContent,
                  position: "top-center",
                  props: {
                    title: "Correo esta siendo utilizado por otra cuenta.",
                    icon: "EditIcon",
                    variant: "danger",
                  },
                });
              });
          } else {
            this.$toast({
              component: ToastificationContent,
              position: "top-center",
              props: {
                title: "Acepto las condiciones y las política de privacidad",
                icon: "EditIcon",
                variant: "danger",
              },
            });
          }
        }
      });
    },
  },
};
/* eslint-disable global-require */
</script>

<style lang="scss">
@import "@core/scss/vue/pages/page-auth.scss";
</style>
